@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

.toastify {
  padding: 12px 20px;
  color: #fff;
  display: inline-block;
  /* box-shadow: 0 3px 6px -1px rgba(0, 0, 0, .12), 0 10px 36px -4px rgba(77, 96, 232, .3);
  background: -webkit-linear-gradient(315deg, #73a5ff, #5477f5);
  background: linear-gradient(135deg, #73a5ff, #5477f5); */
  box-shadow: 0 3px 6px -1px rgba(0, 0, 0, .12), 0 10px 36px -4px rgba(255, 255, 255, .3);
  background: -webkit-linear-gradient(315deg, #ffffff, #ffffff);
  background: linear-gradient(135deg, #ffffff, #ffffff);
  position: fixed;
  opacity: 0;
  transition: all .4s cubic-bezier(.215, .61, .355, 1);
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  max-width: calc(50% - 20px);
  z-index: 2147483647;
  font-family: 'Inter', sans-serif; /* Added font-family */
}

/* The rest of your CSS remains the same */
.toastify.on { opacity: 1; }
.toast-close { opacity: .4; padding: 0 5px; }
.toastify-right { right: 15px; }
.toastify-left { left: 15px; }
.toastify-top { top: -150px; }
.toastify-bottom { bottom: -150px; }
.toastify-rounded { border-radius: 25px; }
.toastify-avatar { width: 1.5em; height: 1.5em; margin: -7px 5px; border-radius: 2px; }
.toastify-center { margin-left: auto; margin-right: auto; left: 0; right: 0; max-width: fit-content; max-width: -moz-fit-content; }
@media only screen and (max-width: 360px) {
  .toastify-left, .toastify-right { margin-left: auto; margin-right: auto; left: 0; right: 0; max-width: fit-content; }
}
